{% extends "base.html" %}
{% load  mytags %}
{% load   guardian_tags %}
{% block  title %}资产信息{% endblock %}

{% block page-content %}
 <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>资产信息</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/index.html">主页</a>
                </li>
                <li>
                    <a>资产管理</a>
                </li>
                <li class="active">
                    <strong>资产配置</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>



    test
{% endblock %}

