{% extends "base.html" %}
{% block  title %}AutOps | 首页{% endblock %}



{% block header-css %}

{% for jsfile_name in script_list %}
        <script src="/static/echarts/{{ jsfile_name }}.js"></script>
{% endfor %}
{% endblock %}


{% block page-content %}


       <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">Monthly</span>
                                <h5>Income</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">40 886,200</h1>
                                <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">Annual</span>
                                <h5>Orders</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">275,800</h1>
                                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                                <small>New orders</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">Today</span>
                                <h5>Vistits</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">106,120</h1>
                                <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                                <small>New visits</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-danger pull-right">Low value</span>
                                <h5>User activity</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">80,600</h1>
                                <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                                <small>In first month</small>
                            </div>
                        </div>



{#<div class="wrapper wrapper-content animated fadeInRight chart">#}
{#    <div class="row">#}
{#     <div class="col-sm-6">#}
{#        <div class="ibox float-e-margins">#}
{##}
{#            <div class="ibox-title">#}
{#                <h5>产品线</h5>#}
{#                <div class="ibox-tools">#}
{#                    <a class="collapse-links">#}
{#                        <i class="fa fa-chevron-up"></i>#}
{#                    </a>#}
{#                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
{#                        <i class="fa fa-wrench"></i>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu dropdown-user">#}
{#                        <li><a href="#">配置选项 1</a>#}
{#                        </li>#}
{#                        <li><a href="#">配置选项 2</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                    <a class="close-link">#}
{#                        <i class="fa fa-times"></i>#}
{#                    </a>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#            <div class="ibox-content">#}
{#                {{ myechart|safe }}#}
{#            </div>#}
{##}
{##}
{#        </div>#}
{##}
{#    </div>#}
{#    <div class="col-sm-6">#}
{#        <div class="ibox float-e-margins">#}
{##}
{#            <div class="ibox-title">#}
{#                <h5>数据中心</h5>#}
{#                <div class="ibox-tools">#}
{#                    <a class="collapse-links">#}
{#                        <i class="fa fa-chevron-up"></i>#}
{#                    </a>#}
{#                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
{#                        <i class="fa fa-wrench"></i>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu dropdown-user">#}
{#                        <li><a href="#">配置选项 1</a>#}
{#                        </li>#}
{#                        <li><a href="#">配置选项 2</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                    <a class="close-link">#}
{#                        <i class="fa fa-times"></i>#}
{#                    </a>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#            <div class="ibox-content">#}
{#                {{ myechart1|safe }}#}
{#            </div>#}
{##}
{##}
{#        </div>#}
{##}
{#    </div>#}
{#</div>#}
{#    </div>#}
{##}
{##}
{##}
{##}
{#{% endblock %}#}
{##}
{#{% block footer-js %}#}
{#    <script>#}
{##}
{#              toastr.options = {#}
{#                                      "closeButton": true,#}
{#                                      "debug": false,#}
{#                                      "progressBar": true,#}
{#                                      "preventDuplicates": true,#}
{#                                      "positionClass": "toast-top-right",#}
{#                                      "onclick": null,#}
{#                                      "showDuration": "400",#}
{#                                      "hideDuration": "1000",#}
{#                                      "timeOut": "7000",#}
{#                                      "extendedTimeOut": "1000",#}
{#                                      "showEasing": "swing",#}
{#                                      "hideEasing": "linear",#}
{#                                      "showMethod": "fadeIn",#}
{#                                      "hideMethod": "fadeOut"#}
{#                                    }#}
{#            ;#}
{##}
{##}
{##}
{#               toastr.success("欢迎来到AutoOps!", "欢迎")#}
{##}
{#</script>#}
{##}
{#    {{ onresize  | safe }}#}







                    </div>
{% endblock %}